:root {
    --color-screen: #f2f2e8;
    --color-text: #292525;

    --background: var(--color-screen);
    --text: var(--color-text);
}
  
/* title font */
@font-face {
    font-family: 'Aboreto Regular';
    src: url('fonts/webfontkit-20230130-210936/aboreto-regular-webfont.woff') format('woff');
}

/* body text */
@font-face {
    font-family: 'Poiret One';
    src: url('fonts/webfontkit-20230130-211844/poiretone-regular-webfont.woff') format('woff');
}

/* unvisited link */
a:link {
    color: var(--color-text);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--color-text);
    text-decoration: none;
}

  body {
    background-color: var(--color-screen);
    margin: 1rem 0rem 10rem 0rem;
    padding: 1rem;

  }

  /*navigation*/
  header {
    align-items: center;
    background-color: var(--color-screen);
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem 1rem 1rem;
    padding: .5rem;
  }
  
  nav {
    background-color: var(--color-screen);
    border-left: 1px solid var(--color-text);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 380px;
    z-index: 100;
  
    transform: translateX(380px);
    transition: transform 225ms ease-in-out;
  }
  
  nav.open {
    transform: none;
  }
  
  nav header {
    background-color: var(--color-screen);
  }

/*text*/
  h1 {
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Aboreto Regular' ;
    font-style: normal;
    font-size: 38px;
    color: var(--color-text);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1rem;
    font-family: 'Aboreto Regular' ;
    font-style: normal;
    font-size: 34px;
    text-align: center;
    color: var(--color-text);
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Aboreto Regular' ;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: var(--color-text);
}

p {
    font-family: 'Poiret One';
    font-size: 20px;
    margin: 1rem 2rem;
    padding: 1rem;
    line-height: 1.6;
    max-width: 60ch;
 }


/*menu button*/
 button {
    background-color: var(--color-screen);
    border: .5px solid #292525;
    border-radius: 12px;
    color: var(--color-text);
    font-family: 'Poiret One';
    font-size: 24px;
 }

 button:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
  }


/*lists in menu*/
 .pages {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-direction: column;
    list-style: none;
    margin: 1rem 1rem;
    padding: .5rem;
    row-gap: 1rem;
  }
  
.pages li {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-direction: column;
    list-style: none;
    margin: 1rem 1rem;
    padding: .5rem;
    row-gap: 1rem;
  }
  
.pages a {
   font-size: 18px;
   font-family: 'Poiret One';
   
  }

.contact {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-direction: column;
    list-style: none;
    margin: 3rem 1rem;
    padding: .5rem;
    row-gap: 1rem;
  }
  
.contact li {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-direction: column;
    list-style: none;
    margin: 1rem 1rem;
    padding: .5rem;
    row-gap: 1rem;
  }
  
.contact a {
   font-size: 16px;
   font-family: 'Poiret One';
  }


  /*about page*/
  h3.skills {
    display: flex;
    justify-content: flex-start;
    margin: 3rem 2rem 1rem 2rem;
    padding: .5rem .5rem .5rem .5rem;
    font-family: 'Aboreto Regular' ;
    font-style: normal;
    color: var(--color-text);
    font-size: 24px;
  }

  .skillsList {
    display: flex;
    align-items: left;
    column-gap: 1rem;
    flex-direction: column;
    margin: 0rem 3rem 1rem 3rem;
    padding: 0rem .5rem .5rem .5rem;
    row-gap: 1rem;
  }

  p.about {
    margin:  2rem;
    padding: .5rem;
    font-size: 20px;
    line-height: 1.6;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  .skillsList li {
    font-size: 20px;
    font-family: 'Poiret One';
    list-style: circle;
  }

  .info , section.gallery {
    margin: .5rem;
    padding: .5rem;
  }

   /*gallery*/
  .learnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poiret One';
    margin: 1rem 1rem;
    padding: .5rem;
  }

  .designhead {
    margin: 5rem 1rem 1rem 1rem;
  }


  /*images*/
  .aboutmepic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    padding: .5rem;
  }

  picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    padding: .5rem;
 }

 @media (min-width: 650px) {
  .idm212-8 {
    visibility: hidden;
  }

  picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    padding: .5rem;
  }
  
 }


 @media (max-width: 650px) {

  body {
    margin: 1rem 0rem 5rem 0rem;
    padding: .25rem;
  }
  
  h1 {
    font-size: 24px;
  } 

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
  
  button {
    font-size: 16px;
  }
  
  p.about {
    font-size: 16px;
  }

  .skillsList li {
    font-size: 16px;
  }

  h3.skills {
    font-size: 18px;
  }

  .learnMore {
    padding: .25rem;
    margin: .25rem;
  }

  .idm212-8 {
    visibility: visible;
  }

 }
